@font-face {
  font-family: bangla;
  src: url(../font/Nikosh.ttf);
}
:root {
  --primaryFont: "bangla";
  --blackColor: #000000;
}

/*==============================
Default CSS
===============================*/
h1, h2, h3, h4, h5, h6 {
  font-family: var(--primaryFont);
}

p {
  line-height: 1.8;
  font-size: 14px;
  font-family: var(--primaryFont);
}

.container {
  width: 992px;
  margin-left: auto;
  margin-right: auto;
}

img {
  max-width: 100%;
}

/*==============================
Print Function
===============================*/
#printPageButton {
  border: none;
  margin: 15px;
  cursor: pointer;
  padding: 12px 35px;
  border-radius: 5px;
  color: var(--blackColor);
  background-color: #eeeeee;
  transition: 0.5s ease-in-out;
  box-shadow: 0px 0px 5px #eeeeee;
  font-size: 14px;
  font-weight: 500;
}
#printPageButton:hover {
  background-color: #252525;
  color: #ffffff;
}

@media print {
  #printPageButton {
    display: none;
  }
}
/*==============================
Form Heading Area CSS
===============================*/
.form-heading {
  text-align: center;
}
.form-heading .heading {
  margin-bottom: 12px;
}
.form-heading .heading h3 {
  margin-bottom: 12px;
  font-size: 24px;
  font-weight: 600;
}
.form-heading .heading h4 {
  margin-top: 12px;
}
.form-heading .heading-form h5 {
  font-size: 16px;
  font-weight: 600;
}

/*==============================
Form Details Area CSS
===============================*/
.form-details {
  margin-top: 50px;
}
.form-details .form-content-area {
  display: grid;
  grid-template-columns: 2fr 8fr 2fr;
  vertical-align: top;
  height: 100vh;
}
.form-details .form-content-area .section-heading {
  text-align: center;
  border-bottom: 1px solid #000000;
  height: 80px;
  padding: 5px 15px;
}
.form-details .form-content-area .section-heading h4 {
  line-height: 1.5;
  font-size: 15px;
  font-weight: 600;
}

.order-no, .order-details, .order-activities {
  border: 1px solid var(--blackColor);
  height: 100vh;
}

.order-details, .order-activities {
  border-left: none;
}

.order-no-details p, .order-activities-content p {
  text-align: center;
  padding: 10px 15px;
  font-size: 16px;
  font-weight: 600;
  font-fmailly: var(--primaryFont);
}

.main-section-content {
  padding: 5px 15px;
}
.main-section-content p {
  font-size: 16px;
  font-weight: 400;
  font-fmailly: var(--primaryFont);
}

.notice-calculation-table {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}
.notice-calculation-table h4 {
  margin-bottom: 12px;
  text-decoration: underline;
  font-size: 18px;
  font-family: var(--primaryFont);
}
.notice-calculation-table ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.notice-calculation-table ul li {
  text-align: right;
  margin-top: 5px;
  font-size: 15px;
  font-family: var(--primaryFont);
}
.notice-calculation-table ul li:first-child {
  text-decoration: underline;
}
.notice-calculation-table ul li span:first-child {
  margin-right: 15px;
}
.notice-calculation-table ul li span:last-child {
  width: 120px;
  display: inline-block;
}
.notice-calculation-table ul .total {
  border-top: 1px solid var(--blackColor);
  padding-top: 5px;
}/*# sourceMappingURL=style.css.map */
